img{
    height: 30vh;
}
.navbar{
    margin-bottom: 20px;
    border-bottom: 1px solid dimgray;
    background-color: #F0AB21;
}
h2{
    margin-top: 10px;
    margin-bottom: 20px;
}
body{
    background-color: #F4F6F7;
    font-family: 'Montserrat', sans-serif;
}
.card{
    box-shadow: 1px 1px 12px #555;
}
#logo{
    margin-top: 30px;
}
.footerId{
    border-top: 1px solid rgb(119, 118, 118);
    margin-bottom: 5PX;
    color: rgb(119, 118, 118);
}
h1{
    text-align: center;
    font-size: 35px;
}
.imgHover{
    opacity: 0;
    float: right;
    position: relative;
    height: 60px;
    margin-top: 20px;
}
.card:hover .imgHover{
    opacity: 0.2;
}
.euro{
    color: rgba(128, 128, 128, 0.521);
}
